html{
  /*background-color: #FCFFFF;*/
  background-color: #e0f4fc;
  font-family: "DIN Alternate", sans-serif;
}

body{
  background-color: #84D2F4;
  max-width: 1200px;
  margin: auto;
    -webkit-border-radius: 40px;
  border-radius: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-transition-property: -webkit-border-radius;
  transition-property: border-radius;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

@media screen and (max-width: 1200px){
  body{
    -webkit-border-radius: 0px;
    border-radius: none;
  }
}

img {
  margin: auto;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

@media (hover: hover) {
  nav a:hover {
    background-color: #005e8a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .gallery div:hover{
    position: relative;
    z-index: 1;
    transform: scale(1.33, 1.33);
    -webkit-box-shadow: 5px 5px 10px #444444;
    box-shadow: 5px 5px 10px #444444;
    cursor: pointer;
  }
  .BFMotionHome div:not(.BFMotionLogo):hover{
    cursor: pointer;
    position: relative;
    z-index: 1;
    transform: scale(1.33, 1.33);
    -webkit-box-shadow: 5px 5px 10px #444444;
    box-shadow: 5px 5px 10px #444444;
    cursor: pointer;
  }
  .FigsFilters button:hover{
    background-color: #005e8a;
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
  }
}

/*Modal images----------------------------------------------------------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*Navigation Bar -------------------------------------------------------------*/

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 1200px;
  margin: 2%;
}

nav {
  overflow: hidden;
  background-color: #777777;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

nav a{
  display: block;
  width: 20%;
  padding: 12px;
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20pt;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav a.active {
  background-color: #00a2e8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

 .topnav .menu{
  display: none;
}

  @media screen and (max-width: 900px) {
  .topnav :not(:nth-child(1)){
    display: none;
  }
  .topnav a.menu {
    float: right;
    display:block;
    width: auto;
  }
  .topnav {
    width: auto;
    padding: auto;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .menu {
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
    width: auto;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
    width: auto;
  }
}


/*Brikfigs Home Section-------------------------------------------------------*/
.BFHome{
  margin: 2%;
  margin-bottom: 4%
}

.BFLogo {
  margin-bottom: 2%;
  display: block;
  background-color: #e0f4fc;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.BFLogo a {
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: grid;
  grid-gap: 1%;
  justify-content: space-evenly;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery div{
  display: block;
  padding: 10px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}



/*BrikFigs Motion Secion Home Page--------------------------------------------*/
.BFMotionHome {
  background-color: #e0f4fc;
  border-radius: 25px;
  display: grid;
  grid-gap: 1%;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  margin: 2%;
}

.BFMotionHome div{
  display: block;
  padding: 2%;
  margin: 4%;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.BFMotionLogo img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%
}

/*BrikFigsU Section Home Page-------------------------------------------------*/

.BFUHome {
  background-color: #caf0c2;
  border-radius: 25px;
  display: grid;
  grid-gap: 1%;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  margin: 2%;
}

.BFUHome div{
  display: block;
  padding: 2%;
  margin: 4%;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.BFULogo img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%
}

/*Figs Page-----------------*-------------------------------------------------*/
ul.FigsFilters {
  overflow: hidden;
  background-color: #aaaaaa;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  list-style-type: none;
  float: center;
}

ul.FigsFilters li{
  list-style: none;
  display: inline;
  padding: none;
  float: left;
}

.FigsFilters button{
background-color: #aaaaaa;
width: 100%;
margin: auto;
border: none;
outline: none;
font-size: 20pt;
text-align: center;
color: white;
text-decoration: none;
white-space: nowrap;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}
